*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14pt;
    font-feature-settings: "palt";
}

.global-nav {
    height: 120px;

    display: flex;
    align-items: center;
    padding: 0 1rem;

    position: fixed;
    background: #fff;
    width: 100%;  /*浮いてる、親とサイズが違うからbodyと同じ大きさにしたい*/
}
.global-nav h1 {
    flex: 1;
}
.global-nav ul {
    list-style: none;    /*・を消す*/
    display: flex;
}
.global-nav ul li {
    padding: 1rem;
}

#sec1 {
    padding-top: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: white;
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#profile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pro-box {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    padding-top: 50px;
}

.pro-img {
    height: 300px;
    width: 300px;
    margin-right: 100px;
}

.pro-list {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pro-list-item {
    list-style: none;
    text-align: right;
}


#works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 125px;
}

.wor-box {
    display: flex;
    align-content: space-between;
}

.wor-list-item {
    margin: 2rem 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact {
    padding: 2rem 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con-box li {
    margin: 3rem;
    list-style: none;
}
